# Copyright (c) 2020 Patrick Diehl
#               
#
# Distributed under the Boost Software License, Version 1.0. (See accompanying
# file LICENSE_1_0.txt or copy at http://www.boost.org/LICENSE_1_0.txt)

version: 2
jobs:
    build:
        docker:
          - image: diehlpk/nonlocalmodels:baseimage
        steps:
            - checkout
            - run:
                name: Configure 
                command: | 
                  mkdir -p build 
                  cd build 
                  cmake -DCMAKE_BUILD_TYPE=Release ..
            - run:
                name: Build
                command: |  
                  cd build 
                  make -j 2
            - run:
                name: Test
                command: |
                  cd build 
                  make test
    deploy:
      docker:
        - image: docker:17.05.0-ce-git
      environment:
        IMAGE_FOLDER_NAME: ./circleci/Docker
        IMAGE_NAME: diehlpk/nonlocalheatequation:latest
      steps:
        - checkout
        - setup_remote_docker
        - run:
          - name: Build Docker image
            command: |
              docker build -t ${IMAGE_NAME} ${IMAGE_FOLDER_NAME}
              docker images

workflows:
  version: 2
  build_and_deploy:
    jobs:
      - build
      - deploy
